html{
   box-sizing: border-box;
}

*,
*::after,
*::before{
 box-sizing: inherit;  
}
img{
   max-width: 100%;
}

a{
   text-decoration: none;
   color: inherit;
}
body{
   font-family: Arial, Verdana, sans-serif;
}
.game{
   padding: 40px 15px;
   max-width: 1000px;
   margin: 0 auto;
}
